.lg-container{
  width: 100%;
  height: 100%;
  background: #fff;
  .l-login{
    width: 100%;
    height: 100%;
    header{
      width: 100%;
      height: .44rem;
      @include flexbox;
      ul{
        @include flexbox();
        height: 100%;
        width: 100%;
        background: #1aaaf1;
        li{
          height: 100%;
          width: 100%;
          color: #fff;
          font-size: .16rem;
          line-height: .44rem;
          text-align: center;
          &:nth-child(1){
            width: .6rem;
          }
          &:nth-child(2){
            @include flex(1);
          }
          &:nth-child(3){
            width: .9rem;
          }
        }
      }
    }
    section{
      @include flex(1);
      width: 100%;
      //@include flexbox();
      ul{
        width: 3rem;
        height: .88rem;
        margin-top: .1rem;
        margin-left: .1rem;
        background: #fdfffe;
        @include box-sizing(border-box);
        @include border(2px,#eeeeee);
        li{
          width: 3rem;
          height: .44rem;
          @include flexbox();
          input{
            color: #e5e3e4;
            font-size: .15rem;
            @include flex(1);
            border: 0
          }
          i{
            width: .44rem;
            line-height: .44rem;
            text-align: center;
            color: #d9dddc;
            font-size: .21rem;
          }
          &:nth-child(1){
            @include box-sizing(border-box);
            @include border(0 0 1px 0,#dcdcdc);
          }
        }
      }
      p{
        width: 3rem;
        height: .44rem;
        background: #1aaaf1;
        line-height: .44rem;
        text-align: center;
        margin-top: .1rem;
        margin-left: .1rem;
        font-size: .12rem;
        color: #fff;
      }
    }
  }
}
