@font-face {
  font-family: yofont;
  src: url("/attempt/images/iconfont/iconfont.woff") format("woff"),
  url("/attempt/images/iconfont/iconfont.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/attempt/images/iconfont/iconfont-back.woff") format("woff"),
  url("/attempt/images/iconfont/iconfont-back.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/attempt/images/iconfont/iconfont-switch1.woff") format("woff"),
  url("/attempt/images/iconfont/iconfont-switch1.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/attempt/images/iconfont/iconfont-login.woff") format("woff"),
  url("/attempt/images/iconfont/iconfont-login.ttf") format("truetype");
}
